<h1>Edit user name</h1>
<p>Edit name for <%= @user.name %></p>

<form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="name" value="<%= @user.name %>">

    <input type='submit' value='Update'>
</form>